<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@string/logo"
        android:label="@string/app_name"
        android:roundIcon="@string/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CityCards"
        tools:targetApi="31">
        <activity
            android:name=".View.SplashScreen.SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".View.TirageCard.TirageCardActivity"
            android:exported="false" />
        <activity
            android:name=".View.CityDetail.CityDetail"
            android:exported="false" />
        <activity
            android:name=".View.MapCollection.MapCollection"
            android:exported="true"
            android:label="@string/title_activity_map_collection" />
        <activity
            android:name=".View.Login.LoginActivity"
            android:exported="true"></activity>
        <activity
            android:name=".View.Main.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".View.CreateUser.CreateUserActivity"
            android:exported="true" />
        <activity
            android:name=".View.Profile.ProfileActivity"
            android:exported="true" />
    </application>

</manifest>